* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}
.layout {
  width: 360px;
  height: 360px;
  display: -moz-box;
  display: flex;
  flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  justify-content: space-around;
}
.donTouch {
  pointer-events: none;
}
.outer {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}
